{template 'common/header'}
<script>
    require(['jquery', 'util'], function($, u) {
        $(function(){
            $('#theform').submit(function(){
                var message = '';
                if($.trim($(':text[name=appid]').val()) == '') {
                    message += '必须输入AppID<br>';
                }
                if($.trim($(':text[name=secret]').val()) == '') {
                    message += '必须输入AppSecret<br>';
                }
                if($.trim($(':text[name=mchid]').val()) == '') {
                    message += '必须输入微信支付商户号<br>';
                }
                if($.trim($(':text[name=password]').val()) == '') {
                    message += '必须输入微信支付商户密钥<br>';
                }
                if(message) {
                    u.message(message);
                    return false;
                }
                return true;
            });
        });
    });
</script>
<div class="clearfix">
    <form id="theform" class="form form-horizontal" action="" enctype ="multipart/form-data" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                发红包接口参数
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="alert alert-info">
                            发红包接口参数 <br>
                            <span class="label label-info">认证服务号并开通微信支付</span> <br>       
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">AppID</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="appid" value="{$settings['appid']}" class="form-control">
                        <span class="help-block">有微信支付权限的认证服务号AppID,就是本公众号的appid</span>
                       
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">AppSecret</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="secret" value="{$settings['secret']}" class="form-control">
                        <span class="help-block">认证服务号AppSecret, 就是本公众号的AppSecret</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商户号</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="mchid" value="{$settings['mchid']}" class="form-control">
                        <span class="help-block">微信支付商户号, 开通微信支付才能获得商户号</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商户支付密钥</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="password" value="{$settings['password']}" class="form-control">
                        <span class="help-block">微信支付商户所使用的支付密钥, 开通微信支付才能获得商户号</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">服务器IP</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="ip" value="{$settings['ip']}" class="form-control">
                        <span class="help-block">发放红包接口需要服务器IP. 程序将自动获取你的服务器IP, 如果获取失败, 请手动指定</span>
                    </div>
                </div>
                     <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商户支付证书</label>
                    <div class="col-sm-9 col-xs-12">
                        <input name="apiclient_cert" type="hidden"  class="form-control" value="{$settings['apiclient_cert']}"/> 
                        <input name="apiclient_cert_file" type="file"  class="form-control" value=""/> 
                        <span class="help-block">
           {if !empty($settings['apiclient_cert'])} <label style="color:red">已保存成功</label>{/if}                 
                        从商户平台上下载支付证书, 解压并取得其中的 <mark>apiclient_cert.pem</mark>上传此文件</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">支付证书私钥</label>
                    <div class="col-sm-9 col-xs-12">
                        <input name="apiclient_key" type="hidden"  class="form-control" value="{$settings['apiclient_key']}"/> 
                        <input name="apiclient_key_file" type="file"   class="form-control" value=""/> 
                        <span class="help-block">
           {if !empty($settings['apiclient_key'])} <label style="color:red">已保存成功</label>{/if}                      
                        从商户平台上下载支付证书, 解压并取得其中的 <mark>apiclient_key.pem</mark>上传此文件</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">支付根证书</label>
                    <div class="col-sm-9 col-xs-12">
                        <input name="rootca" type="hidden"  class="form-control" value="{$settings['rootca']}"/> 
                        <input name="rootca_file" type="file"  class="form-control" value=""/> 
                        
                        <span class="help-block">
             {if !empty($settings['rootca'])} <label style="color:red">已保存成功</label>{/if}               
                        从商户平台上下载支付证书, 解压并取得其中的 <mark>rootca.pem</mark>上传此文件</span>
                    </div>
                </div>
                
                
                 </div>
                   </div>


               
                
                
                
         <div class="panel panel-default" >             
            <div class="panel panel-default">
              
             
             
              <div class="panel-body">

                     <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="保存" class="btn btn-primary btn-block" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
                

      </div>
              
                </div>

              </div>
    </form>
</div>
<script>

 $("#hide").click(function(){
  $(".sendtype").hide();
  });
  $("#show").click(function(){
  $(".sendtype").show();
  });

  $("#text").click(function(){
  $(".answer_type").hide();
  });
  $("#thumb").click(function(){
  $(".answer_type").show();
  });


</script>
{template 'common/footer'}
